.intro-text
	text-align: center
	padding-bottom: 30px
	.intro-text-content
		max-width: 500px
		margin: 0 auto
		hr
			margin-top: 55px

.slider-section
	.side-page-carousel
		.carousel-indicators
			li.active
				background-color: $brand-pink
		.item
			background-size: cover
			background-position: top center
			min-height: 100px
			h2
				text-transform: uppercase
				color: $brand-pink
			hr.divider
				border-top-color: $brand-pink
			p
				color: #FFF

	@media (min-width: $screen-sm)
		.side-page-carousel
			.item
				padding: 130px 0
				min-height: 600px

.featured-section
	hr
		border-top-color: $brand-pink


.generic-items-list
	background-color: #eee
	padding: 50px 0
	.generic-card-wrapper
		.generic-card
			position: relative
			padding: 15px
			background-color: #FFF
			.generic-card-image-wrapper
				height: 218px
				overflow: hidden
				img
					max-width: none
					width: 110%
					height: auto
			.generic-content
				margin-top: 20px
				p
					font-family: $font-montserrat
			.generic-card-rollover-block
				@include transition(opacity .15s ease-in)
				position: absolute
				left: 0
				top: 0
				right: 0
				bottom: 0
				background-color: $brand-pink
				opacity: 0
				p
					@include transition(all .2s ease-in-out)
					color: #FFF
					text-align: center
					transform: translateY(-50%) translateX(-50%)
					position: absolute
					top: 55%
					left: 50%
		&:hover
			.generic-card-rollover-block
				opacity: 1
				p
					top: 50%

.generic-full-profile
	background-color: #FFF


// Photo Gallery
.photo-gallery
	background-color: #eee
	padding: 50px 0
	.gallery-card
		min-height: 400px
		position: relative
		background-size: cover
		.gallery-card-rollover-block
			@include transition(all .2s)
			background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))
			padding: 25px
			text-align: center
			opacity: 0
			position: absolute
			bottom: 0
			left: 0
			right: 0
			h4
				color: #FFF
				text-align: center
			button 
				border-color: #FFF
				color: #FFF
				border: none
				font-size: 14px
				padding: 0
			
		&:hover
			.gallery-card-rollover-block
				opacity: 1


.gallery-modal
	.modal-content
		border-radius: 0
		.carousel-inner
			.item
				img
					width: 100%
		.carousel-control .glyphicon
			color: #FFF
			opacity: 1


.buy-it-section, .donate-section
	text-align: center
	p
		margin: 15px 0 35px
		font-size: 18px
	.image-wrapper
		height: 123px
		img
			width: 300px
	.col-sm-6:first-child
		border-right: 1px solid #333
	.wp_pp_button_selection_section, .wp_pp_button_reference_section
		display: none
	.sc-payment-details-wrap
		text-align: left

.games-section
	.generic-card
		min-height: 518px


.try-out-section
	.game-block
		text-align: center
		iframe
			border: none
			width: 100%
			height: 640px