.content .main
	padding-left: 0
	padding-right: 0
	float: none

body:not(.know-the-models)
	.models-section
		display: none

h1
	font-family: $font-montserrat
	font-weight: 700
	font-size: 120px
	color: #FFFFFF

h2
	font-family: $font-montserrat
	font-weight: 300
	font-size: 38px
	color: $brand-black

h3
	font-family: $font-montserrat
	font-size: 34px
	color: $brand-pink

h4
	font-family: $font-montserrat
	font-size: 26px
	color: $brand-pink

p
	font-family: $font-roboto
	font-weight: 500
	font-size: 20px
	color: $brand-black

a
	&:hover
		text-decoration: none !important

span
	color: $brand-black
	&.red
		color: red

img
	max-width: 100%
	height: auto
	&.black-white
		-webkit-filter: saturate(0)

hr.divider
	max-width: 85px
	border-top: 2px solid $brand-black
	margin-top: 35px
	margin-bottom: 35px
	&:not(.center)
		margin-left: 0

.block
	display: block

.image-container
	img
		width: 100%

.rotated-image-wrapper
	transform: rotate(-32deg)

.pushdown
	margin-top: 30px

.dark
	p, h2
		color: #FFF
	hr
		border-color: #FFF

.section-template
	padding: 80px 0

	@media (max-width: $screen-xs-max)
		padding: 15px 0

.page-header 
	margin: 0
	padding: 0
	border: none
	h1
		margin-top: 5px
		margin-bottom: 15px
	.complementary-text
		font-family: $font-indie
		font-size: 36px
		color: $brand-yellow
		letter-spacing: 0px

// Main Banner
.main-banner
	position: relative
	.banner-content-wrapper
		height: 100%
		text-align: center
		.banner-content
			text-align: center
			position: relative
			top: 50%
			transform: translateY(-50%)
			p
				color: #FFF
				font-size: 24px
				margin: 50px 0
			.btn-brand
				margin: 0 15px
	.down-angle
		margin: 0 auto
		display: table
		i
			color: #FFF
			font-size: 68px

	@media (min-width: $screen-sm)
		min-height: 690px
		.banner-content-wrapper
			height: 690px
