.content .main
	padding-left: 0
	padding-right: 0

h1
	font-family: $font-montserrat
	font-weight: 700
	font-size: 120px
	color: #FFFFFF

h2
	font-family: $font-montserrat
	font-weight: 300
	font-size: 38px
	color: $brand-black

p
	font-family: $font-roboto
	font-weight: 500
	font-size: 20px
	color: $brand-black

span
	&.red
		color: red

img
	max-width: 100%

hr.divider
	max-width: 85px
	border-top: 2px solid $brand-black
	margin-left: 0
	margin-top: 35px
	margin-bottom: 35px

.image-container
	img
		width: 100%

.section-template
	padding: 80px 0

	@media (max-width: $screen-xs-max)
		padding: 15px 0

// Main Banner
.main-banner
	position: relative
	.banner-content-wrapper
		height: 100%
		text-align: center
		.banner-content
			text-align: center
			position: relative
			top: 50%
			transform: translateY(-50%)
			p
				color: #FFF
				font-size: 24px
				margin: 50px 0
			.btn-brand
				margin: 0 15px
	.down-angle
		margin: 0 auto
		display: table
		i
			color: #FFF
			font-size: 68px

	@media (min-width: $screen-sm)
		min-height: 690px
		.banner-content-wrapper
			height: 690px

// Presentation
.presentation
	.btn-brand
		margin-top: 30px