.btn-brand
	border: 3px solid $brand-black
	color: $brand-black
	border-radius: 0
	background-color: transparent
	text-transform: uppercase
	font-family: $font-roboto
	font-size: 20px
	min-width: 300px
	padding: 18px 0
	&:hover
		color: #FFF
	&.white
		border: 3px solid #FFFFFF
		color: #FFFFFF
